<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Accrescent Dev Portal | App Info for {{ .label }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="/main.js"
            type="module"
            integrity="sha256-eZKV1JwvV599OyLjSZuYVeumvPYH4do0vojw+DBBcGs=">
        </script>
    </head>
    <body>
        <h1>{{ .label }}</h1>

        <a href="/apps/{{.id}}/update">Upload update</a><br><br>

        <p>App ID: {{ .id }}</p>
        <p>Display name: {{ .label }}</p>
        <p>Display version: {{ .version_name }}</p>
        <p>Version code: {{ .version_code }}</p>

        <button type="button" id="logout_button">Log out</button>
    </body>
</html>
