<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Accrescent Dev Portal | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="/main.js"
            type="module"
            integrity="sha256-eZKV1JwvV599OyLjSZuYVeumvPYH4do0vojw+DBBcGs=">
        </script>
        {{if .is_signer}}
        <script
            src="/admin.js"
            type="module"
            integrity="sha256-QeGKGpLJ6j5956KB58LlQkL3UiH+G1O+rBmPuNovgdE=">
        </script>
        {{end}}
        {{if .is_reviewer}}
        <script
            src="/review.js"
            type="module"
            integrity="sha256-67Ee0qBMYw6qO+dsfHYu3vqTdHlSQFuH3Stm0Lkdx/c=">
        </script>
        {{end}}
    </head>
    <body>
        <h1>Welcome {{ .username }}</h1>

        <a href="/apps/new">Upload new app</a><br><br>

        <h3>My apps</h3>

        <h4>Waiting on review</h2>
        {{if .waiting_apps}}
        <ul>
            {{range .waiting_apps}}
            <li>{{ . }}</li>
            {{end}}
        </ul>
        {{else}}
        <p>No apps waiting on review</p>
        {{end}}

        <h4>Approved</h2>
        {{if .approved_apps}}
        <ul>
            {{range .approved_apps}}
            <li>{{ . }}</li>
            {{end}}
        </ul>
        {{else}}
        <p>No approved apps</p>
        {{end}}

        <h4>Published</h4>
        {{if .published_apps}}
        <ul>
            {{range .published_apps}}
            <li>{{ . }}</li>
            {{end}}
        </ul>
        {{else}}
        <p>No published apps</p>
        {{end}}

        {{if .is_signer}}
        <h3>Apps pending metadata signature</h3>
        {{if .pending_sig_apps}}
        <ul>
            {{range .pending_sig_apps}}
            <li>{{ . }}<button type="button" name="publish" value="{{ . }}">Publish</button></li>
            {{end}}
        </ul>
        {{else}}
        <p>No pending apps</p>
        {{end}}
        {{end}}

        {{if .is_reviewer}}
        <h3>Apps pending review</h3>
        {{if .pending_review_apps}}
        <ul>
            {{range $appID, $errors := .pending_review_apps}}
            <li>
                {{$appID}}<button type="button" name="approve" value="{{$appID}}">Approve</button>
                <ul>
                    {{range $errors}}
                    <li>{{ . }}</li>
                    {{end}}
                </ul>
            </li>
            {{end}}
        </ul>
        {{else}}
        <p>No pending apps</p>
        {{end}}
        {{end}}

        <button type="button" id="logout_button">Log out</button>
    </body>
</html>
