<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Accrescent Dev Portal | Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <script
            src="/main.js"
            type="module"
            integrity="sha256-eZKV1JwvV599OyLjSZuYVeumvPYH4do0vojw+DBBcGs=">
        </script>
        <script
            src="/register.js"
            type="module"
            integrity="sha256-Rs6VC4wIoKdDANhhJXSP9kGWrEqPPmrJgsr3975rGNg=">
        </script>
    </head>
    <body>
        <h2>Sign up</h2>
        <h4>Choose your preferred email</h4>

        <form id="register_form">
            {{range $i, $email := .emails}}
            <input
                type="radio"
                id="{{$i}}"
                name="email"
                value="{{$email}}"
                {{if not $i}}checked{{end}}>
            <label for="{{$i}}">{{.}}</label><br>
            {{end}}
            <br>
            <button type="submit" name="submit">Sign up</button>
        </form>

        <button type="button" id="logout_button">Log out</button>
    </body>
</html>
