<form [formGroup]="uploadForm" (ngSubmit)="onUpload()">
    <input id="app" #appinput type="file" accept=".apks" formControlName="app">
    <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="appinput.click()">
        Select APK set
    </button>
    <p>{{ uploadForm.value.app?.replace("C:\\fakepath\\", "") }}</p>
    <br>
    <input id="icon" #iconinput type="file" accept="image/png" formControlName="icon">
    <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="iconinput.click()">
        Select app icon
    </button>
    <p>{{ uploadForm.value.icon?.replace("C:\\fakepath\\", "") }}</p>
    <br>

    <button
        type="submit"
        [disabled]="uploadForm.invalid"
        mat-flat-button
        color="primary">
        Upload
    </button>
</form>
<br>

<form *ngIf="app" [formGroup]="confirmationForm" (ngSubmit)="onConfirm()">
    <h2>App info</h2>
    <p>App ID: {{ app.app_id }}</p>
    <p>Display name: {{ app.label }}</p>
    <p>Version code: {{ app.version_code }}</p>
    <p>Version name: {{ app.version_name }}</p>

    <button type="submit" mat-flat-button color="primary">Submit</button>
</form>
