<form [formGroup]="uploadForm" (ngSubmit)="onUpload()">
    <input id="app" #appinput type="file" accept=".apks" formControlName="app">
    <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="appinput.click()">
        Select APK set
    </button>
    <p>{{ uploadForm.value.app?.replace("C:\\fakepath\\", "") }}</p>
    <br>
    <input id="icon" #iconinput type="file" accept="image/png" formControlName="icon">
    <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="iconinput.click()">
        Select app icon
    </button>
    <h5>Icon must be a 512 x 512 PNG</h5>
    <p>{{ uploadForm.value.icon?.replace("C:\\fakepath\\", "") }}</p>
    <mat-progress-bar *ngIf="uploadProgress !== 0" [value]="uploadProgress" class="progress-bar">
    </mat-progress-bar>
    <br>

    <button
        type="submit"
        [disabled]="uploadForm.invalid"
        mat-flat-button
        color="primary">
        Upload
    </button>
</form>
<br>

<form *ngIf="app" [formGroup]="confirmationForm" (ngSubmit)="onConfirm()">
    <h2>App info</h2>
    <mat-form-field appearance="fill">
        <mat-label>App ID</mat-label>
        <input type="text" value="{{ app.app_id }}" disabled matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Display name</mat-label>
        <input type="text" required formControlName="label" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Version code</mat-label>
        <input type="text" value="{{ app.version_code }}" disabled matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Version name</mat-label>
        <input type="text" value="{{ app.version_name }}" disabled matInput>
    </mat-form-field>
    <br>

    <button
        type="submit"
        [disabled]="confirmationForm.invalid"
        mat-flat-button
        color="primary">
        Submit
    </button>
</form>
