<mat-card *ngFor="let app of apps">
    <mat-card-header>
        <mat-card-title>{{ app.label }}</mat-card-title>
        <mat-card-subtitle>{{ app.app_id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>Review issues</h4>
        <ul>
            <li *ngFor="let issue of app.issues"><code>{{ issue }}</code></li>
            <li *ngIf="!app.issues">None</li>
        </ul>
        <a [href]="'/api/pending-apps/'+app.app_id+'/apks'" mat-stroked-button>Download</a>
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="approveApp(app.app_id)" mat-button>Approve</button>
        <button (click)="rejectApp(app.app_id)" mat-flat-button color="primary">Reject</button>
    </mat-card-actions>
</mat-card>

<mat-card *ngFor="let update of updates">
    <mat-card-header>
        <mat-card-title>{{ update.label }}</mat-card-title>
        <mat-card-subtitle>{{ update.app_id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>Review issues</h4>
        <ul>
            <li *ngFor="let issue of update.issues"><code>{{ issue }}</code></li>
            <li *ngIf="!update.issues">None</li>
        </ul>
        <h4>Update info</h4>
        <ul>
            <li>Version code: {{ update.version_code }}</li>
            <li>Version name: {{ update.version_name }}</li>
        </ul>
        <a
            [href]="'/api/updates/' + update.app_id + '/' + update.version_code + '/apks'"
            mat-stroked-button>
            Download
        </a>
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="approveUpdate(update.app_id, update.version_code)" mat-button>
            Approve
        </button>
        <button
            (click)="rejectUpdate(update.app_id, update.version_code)"
            mat-flat-button
            color="primary">
            Reject
        </button>
    </mat-card-actions>
</mat-card>
