<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h2>Accrescent Developer Portal</h2>
</mat-toolbar>

<mat-sidenav-container id="main">
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item routerLink="dashboard">Dashboard</a>
            <a mat-list-item routerLink="apps">My apps</a>
            <a mat-list-item routerLink="review" *ngIf="reviewer">Review</a>
            <a mat-list-item routerLink="publish" *ngIf="publisher">Publish</a>
        </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
</mat-sidenav-container>
