<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Accrescent Dev Portal | Portal</title>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <script
            src="/main.js"
            type="module"
            integrity="sha256-0QpfCOU84zUS0TzUpcGLB2sZUyLRUerUAm5fsyhS6BY=">
        </script>
    </head>
    <body>
        <h1>Welcome {{ . }}</h1>
        <button id="logout_button">Log out</button>
    </body>
</html>
