<input #fileinput type="file" accept=".apks" (change)="onFileChange($event)">
<button
    type="button"
    mat-flat-button
    color="primary"
    (click)="fileinput.click()">
    Select APK set
</button>
<p>{{ fileinput.value.replace("C:\\fakepath\\", "") }}</p>
<mat-progress-bar *ngIf="uploadProgress !== 0" [value]="uploadProgress" class="progress-bar">
</mat-progress-bar>

<form *ngIf="app" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Update info</h2>
    <p>App ID: {{ app.app_id }}</p>
    <p>Display name: {{ app.label }}</p>
    <p>Version code: {{ app.version_code }}</p>
    <p>Version name: {{ app.version_name }}</p>

    <button type="submit" mat-flat-button color="primary">Submit</button>
</form>
