<mat-card *ngFor="let app of apps">
    <mat-card-header>
        <mat-card-title>{{ app.label }}</mat-card-title>
        <mat-card-subtitle>{{ app.app_id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>App info</h4>
        <ul>
            <li>Version code: {{ app.version_code }}</li>
            <li>Version name: {{ app.version_name }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [routerLink]="[app.app_id, 'update']" mat-flat-button color="primary">
            Upload new update
        </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngFor="let submitted_app of submittedApps">
    <mat-card-header>
        <mat-card-title>{{ submitted_app.label }}</mat-card-title>
        <mat-card-subtitle>{{ submitted_app.app_id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>Submitted app info</h4>
        <ul>
            <li>Version code: {{ submitted_app.version_code }}</li>
            <li>Version name: {{ submitted_app.version_name }}</li>
        </ul>
    </mat-card-content>
</mat-card>
