<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-radio-group formControlName="email">
        <div *ngFor="let email of emails; let i = index">
            <mat-radio-button
                value="{{ email }}"
                aria-labelledby="email-{{ i }}">
            </mat-radio-button>
            <label id="email-{{ i }}">{{ email }}</label>
            <br>
        </div>
    </mat-radio-group>
    <br>
    <button type="submit" mat-flat-button color="primary">Sign up</button>
</form>
