<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Accrescent Dev Portal | Dashboard</title>
        <script
            src="/main.js"
            type="module"
            integrity="sha256-eZKV1JwvV599OyLjSZuYVeumvPYH4do0vojw+DBBcGs=">
        </script>
    </head>
    <body>
        <h1>Welcome {{ .username }}</h1>

        <a href="/apps/new">Upload new app</a><br><br>

        <h3>Apps pending metadata signature</h3>
        <ul>
            {{range .pending_apps}}
            <li>{{ . }}</li>
            {{else}}
            <p>No pending apps</p>
            {{end}}
        </ul>

        <button id="logout_button">Log out</button>
    </body>
</html>
